<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676016760890-jdpr48op1ocbj13vjq8pgs1fkhjd5c52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676016760890-jdpr48op1ocbj13vjq8pgs1fkhjd5c52</string>
	<key>API_KEY</key>
	<string>AIzaSyA4NgpOR8vnCluNMeQCF2cEr0Qj4_Waj1I</string>
	<key>GCM_SENDER_ID</key>
	<string>676016760890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newapp.csproject</string>
	<key>PROJECT_ID</key>
	<string>cs691projectsbackend</string>
	<key>STORAGE_BUCKET</key>
	<string>cs691projectsbackend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:676016760890:ios:a47848a20003f181</string>
	<key>DATABASE_URL</key>
	<string>https://cs691projectsbackend.firebaseio.com</string>
</dict>
</plist>
